body {
  display: flex;
  flex-direction: column;
}

#canvas {
  max-width: 100%;
  width: 500px;
  height: auto;
  border: black solid 1px;
}

#graph_canvas {
  background-color: #32C5FF;
  max-width: 100%;
  width: 500px;
  height: auto;
  border: black solid 1px;
}

.status {
  max-width: 100%;
  width: 500px;
  border: black solid 1px;
  .title {
    width: 200px;
    display: inline-block;
  }
  .count {
    width: 100px;
    text-align: right;
  }
  input {
    text-align: right;
  }
  .result {
    display: none;
  }
}
